

:root{
  --background: #000000; /* black */
  --text: #ffffff;       /* white */
  --muted:  #ecececa9;     /* lighter text / gray */
  --theme:  #d1fe17;     /* accent */
  --page-padding: 16px;
  --radius: 8px;
  --max-width: 1100px;
  --gap: 18px;
  --nav-height: 56px;
}

/* Reset + base (mobile-first) */
* {
  box-sizing:border-box;
  font-weight: 100;
}

html, body {
  height:100%;
  margin:0;
  padding:0;
  background:var(--background);
  color: var(--text);
  font-family: "nunito", Arial, monospace, sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale
}

/* 
.bung-font {
  font-family: "Bungee Hairline", Arial, Helvetica, sans-serif;
  font-weight: 700;
} */

.container {
  padding: 10px;
  padding-top: 70px;
}

img {
  width: 50px;
}

.top-nav {
  background-color: rgba(255, 255, 255, 0.082);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid #d1fe17;
  box-shadow: 0px -40px 100px var(--theme);
  height: 60px;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
}

.menu-btn {
  background-color: #d0fe17;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 5px;
  width: 40px;
  height: 30px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;    
}

.l1, .l2 {
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: black;
}

header .name h1 {
  color: var(--theme);
  font-size: 48px;
  font-weight: 100;
  text-shadow: 60px -45px 10px;
  margin-bottom: 50px;
}

.header .desc h4 {
  color: var(--muted);
}


.h-gallery > * {
  flex: 0 0 auto; /* prevents children from shrinking */
  margin-right: 10px; /* optional spacing */
}


.gallery-title {
  margin-top: 200px;
}

.gallery {
  display: flex;
  flex-direction: column;
}


.h-contents {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  column-gap: 30px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 50px;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.h-content {
  flex: 0 0 auto; /* prevent shrinking */
  width: 300px; /* fixed width per item */
  border-radius: 15px;
  box-sizing: border-box;
}

.h-media-desc-title {
  font-size: 14px;
  color: var(--muted);
  margin-left:5px;
  margin-top: 10px;
}
.h-media-desc-text {
  font-size: 18px;
  margin-left:5px;
  margin-top: 5px;
}

.h-media-desc-title h4 {
  margin: 0;
}

.h-media-desc-text p {
  margin: 0;
}

.h-gallery .media {
  display: flex;
  justify-content: center;
  height: 200px;
}
.gallery-video {
  border-radius: 22px;
  width: 100%;
  object-fit:cover;
  height: 100%;
}


.gallery-title h4{
 color: var(--muted);
 font-size: 18px;
 font-style: italic;
}

.title h2 {
  color: var(--theme);
  font-size: 32px;
  font-weight: 300;
}

.contents {
  column-count: 2;
  column-gap: 10px;
}

.content {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  break-inside: avoid; /* prevents image breaking */
}

.media img {
  width: 100%;
  border-radius: 18px;
  display: block;
}


.media-desc-title {
  color: var(--theme);
  font-size: 22px;
}

.video-container {
  margin-top: 400px;
  height: 2000px;
}

.video-container .holder {
  position: sticky;
  top: 50%;
  transform: translateY(-50%); 
  overflow: hidden;
}

.video-container video {
  width: 100%;
  object-fit: cover;
  display: block;
  z-index: 0;
}
.brands {
  text-align: center;
  padding: 80px 0;
  background: #0b0b0b2c;
}

.title h3 {
  font-size: 1.8rem;
  margin-bottom: 40px;
}

.brand-rotator {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.brand-track {
  display: flex;
  margin-bottom: 30px;
  gap: 40px;
  animation: scrollBrands 20s linear infinite;
  width: max-content;
}

.brand-track-2 {
  display: flex;
  flex-direction: row-reverse;
  gap: 40px;
  animation: scrollBrands-2 30s linear infinite;
  width: max-content;
}

.brand {
  flex: 0 0 auto;
  width: 80px;
  height: 80px;
}

.brand-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* filter: grayscale(1); */
  transition: 0.3s;
}

.brand-img:hover {
  filter: grayscale(0);
  opacity: 1;
  transform: scale(1.05);
}

@keyframes scrollBrands {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scrollBrands-2 {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.our-vision h2 {
  margin-top: 60px;
  font-size: 1.5rem;
  max-width: 700px;
  margin-inline: auto;
  line-height: 1.4;
  color: #f0f0f0;
}

.contact {
  border: 1px solid var(--theme);
  padding: 10px;
  border-radius: 4px;

  margin: 200px 0px;
  
  display: flex;
  flex-direction: column;
}

.field input {
  outline: none;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.075);
  color: var(--text);
  width: 90%;
  margin-left: 10px;
  box-shadow: 5px 5px 5px #d0fe1767;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid var(--theme);

  transition: all 0.5s ease;
}

.field input:focus {
    box-shadow: 15px 15px 20px #d0fe1759;
    transform: translate(-5px, -5px);
}

.btn {
  display: flex;
  justify-content:center;
  margin: 20px 0px;
  margin-top: 40px;
}

.btn button {
  background-color: #d0fe17;
  outline: none;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.footer-content {
  background-color: #d0fe171a;
  padding: 10px;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.line-svg {
  width: 100%;
  height: 100%;
  display: block;
}

.name {
  margin-top: 40vh;

}

.name-svg {
  display: block;
  width: 90%; /* or 80%, depending on your layout */
  height: auto;
  max-width: 800px; /* optional limit */
  margin: 0 auto; /* centers it */
}

.name-path {
  width: 100%;
  fill: transparent;
  stroke: var(--theme);
  stroke-width: 0.1;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: name 4s ease-in-out forwards;
  animation-delay: 5s;
}

@keyframes name {
  0% {
    stroke-dashoffset: 50;
  }

  80% {
    fill: transparent;
  }

  100% {
    fill: rgba(255, 255, 255, 0.342);
    stroke-dashoffset: 0;
  }
}


.blurry {
  background-color: transparent;
  backdrop-filter: blur(10px);
}


.fixed-nav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 10px;
  z-index: 1000;
}

.nav-item {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  position: relative;
  font-weight: 100;
  background-color: transparent;
  backdrop-filter: blur(10px);
  font-family: 'nunito', 'outfit', monospace;
  font-size: 16px;
  color: var(--text);
  transition: all 1s ease;
}

.nav-item.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background: var(--theme);
  display: block;
  transition: all 1s ease;

}

.section {
  height: 100vh;
  padding-top: 60px; /* to account for fixed nav */
}