header .name h1 {
  color: var(--theme);
  font-size: 48px;
  font-weight: 100;
  text-shadow: 60px -45px 10px;
  margin-bottom: 50px;
}

.header .desc h4 {
  color: var(--muted);
}


.media-desc-title {
  color: var(--theme);
  font-size: 22px;
}

.video-container {
  margin-top: 400px;
  height: 2000px;
}

.video-container .holder {
  position: sticky;
  top: 50%;
  transform: translateY(-50%); 
  overflow: hidden;
}

.video-container video {
  width: 100%;
  object-fit: cover;
  display: block;
  z-index: 0;
}

.our-vision h2 {
  margin-top: 60px;
  font-size: 1.5rem;
  max-width: 700px;
  margin-inline: auto;
  line-height: 1.4;
  color: #f0f0f0;
}

.contact {
  border: 1px solid var(--theme);
  padding: 10px;
  border-radius: 4px;

  margin: 200px 0px;
  
  display: flex;
  flex-direction: column;
}

.field input {
  outline: none;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.075);
  color: var(--text);
  width: 90%;
  margin-left: 10px;
  box-shadow: 5px 5px 5px #d0fe1767;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid var(--theme);

  transition: all 0.5s ease;
}

.field input:focus {
    box-shadow: 15px 15px 20px #d0fe1759;
    transform: translate(-5px, -5px);
}

.btn {
  display: flex;
  justify-content:center;
  margin: 20px 0px;
  margin-top: 40px;
}

.btn button {
  background-color: #d0fe17;
  outline: none;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}

.footer-content {
  background-color: #d0fe171a;
  padding: 10px;
}

.svg-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.line-svg {
  width: 100%;
  height: 100%;
  display: block;
}

.name {
  margin-top: 40vh;

}

.name-svg {
  display: block;
  width: 90%; /* or 80%, depending on your layout */
  height: auto;
  max-width: 800px; /* optional limit */
  margin: 0 auto; /* centers it */
}

.name-path {
  width: 100%;
  fill: transparent;
  stroke: var(--theme);
  stroke-width: 0.1;
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  animation: name 4s ease-in-out forwards;
  animation-delay: 5s;
}

@keyframes name {
  0% {
    stroke-dashoffset: 50;
  }

  80% {
    fill: transparent;
  }

  100% {
    fill: rgba(255, 255, 255, 0.342);
    stroke-dashoffset: 0;
  }
}


.blurry {
  background-color: transparent;
  backdrop-filter: blur(10px);
}