{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>AI-Based Advertising Company | Meysam Deris Studio</title>
    <meta name="description" content="Visit our website to order your next project and experience the future of creative production. We specialize in AI-powered photo and video generation for products, music videos, and cinematic short films — blending innovation with storytelling. Our studio also offers real fashion photography, fashion videography, and event coverage, delivering high-end visuals that elevate your brand across all platforms.">

    <meta name="author" content="Meysam Deris">
    <meta name="keywords" content="AI art, AI advertising, AI photography, AI video, fashion photography, music video production, cinematic short film, creative studio, advertising agency, Meysam Deris Studio">

    <meta property="og:title" content="AI-Based Advertising Company | Meysam Deris Studio">
    <meta property="og:description" content="Experience the future of creative production — AI-powered visuals, real photography, and cinematic storytelling for brands and artists.">
    <meta property="og:image" content="{% static '/media/logo.jpg' %}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://meysamderis.com/">

    <link rel="shortcut icon" type="image/x-icon" href="{% static '/media/logo.jpg' %}">

    <link rel="stylesheet" href="{% static 'styles/contact.css' %}">
    <link rel="stylesheet" href="{% static 'styles/name-animation.css' %}">
    <link rel="stylesheet" href="{% static 'styles/svg-line.css' %}">
    <link rel="stylesheet" href="{% static 'styles/video-scroll.css' %}">
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'styles/skeleton-loader.css' %}">
    <link rel="stylesheet" href="{% static 'styles/animations.css' %}">
    <link rel="stylesheet" href="{% static 'styles/big-number.css' %}">
    <link rel="stylesheet" href="{% static 'styles/footer.css' %}">
    <link rel="stylesheet" href="{% static 'styles/brands.css' %}">
    <link rel="stylesheet" href="{% static 'styles/nav.css' %}">
    <link rel="stylesheet" href="{% static 'styles/gallery.css' %}">
    <link rel="stylesheet" href="{% static 'styles/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'styles/ai/ai.css' %}">
    <link rel="stylesheet" href="{% static 'styles/re-design.css' %}">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Ewert&family=Handjet:wght@100..900&family=Megrim&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Sulphur+Point:wght@300;400;700&family=Ysabeau:ital,wght@0,1..1000;1,1..1000&display=swap" rel="stylesheet">

    {% block style %}{% endblock %}
  </head>

  <body>
    <div class="fixed-nav">

      <div class="nav-logo" onclick="window.location.href = '{% url 'profile' %}'">
        <img src="{% static '/media/logo.jpg' %}" alt="Logo">
      </div>

      <div class="nav-btn" id="toggle-btn">
        <div class="nav-btn-1-1 js-nav-btn-1-1">
          <div class="nav-btn-1-2 js-nav-btn-1-2">
            <div class="nav-btn-1-3 js-nav-btn-1-3">
              <div class="nav-btn-1-4 js-nav-btn-1-4">
                <div class="nav-btn-1-5 js-nav-btn-1-5"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="top-nav-links">
        <div class="top-nav-link" onclick="window.location.href = '{% url 'profile' %}'">Home</div>
        <div class="top-nav-link" onclick="window.location.href = '{% url 'ai' %}'">AI</div>
        <div class="top-nav-link" onclick="window.location.href = '{% url 'photography' %}'">Photography</div>
        <div class="top-nav-link" onclick="window.location.href = '{% url 'videography' %}'">Videography</div>
        <div class="top-nav-link" style="color: var(--theme);" onclick="window.location.href = '{% url 'contact' %}'">Contact us</div>
      </div>

    </div>

    <div class="navbar" id="navbar">
      <div class="links">
        <div class="link" onclick="window.location.href = '{% url 'profile' %}'">Home</div>
        <div class="link" onclick="window.location.href = '{% url 'ai' %}'">AI</div>
        <div class="link" onclick="window.location.href = '{% url 'photography' %}'">Photography</div>
        <div class="link" onclick="window.location.href = '{% url 'videography' %}'">Videography</div>
        <div class="link" onclick="window.location.href = '{% url 'contact' %}'">Contact us</div>
      </div>
    </div>

    <button id="chat-toggle-btn">
      <img src="{% static 'media/ai/v.jpg' %}" alt="AI Chat Icon">
    </button>

    <div id="chat-box" class="hidden">
        <div class="chat-header">
            <img src="{% static 'media/ai/running.jpg' %}" alt="AI Profile" class="ai-avatar">
            <span>Meysam Deris AI Chatbot</span>
        </div>

        <div class="chat-body" id="chat-messages">
        </div>

        <div class="chat-input">
          {% csrf_token %}
            <input type="text" id="user-input" placeholder="Ask your question...">
            <button id="send-btn ">Send</button>
        </div>
    </div>

    <div class="container">
      {% block body %}{% endblock %}
      <footer>
        <div class="blurry footer-content nbr">
          <div class="title">
            <h3>Strike up a conversation.</h3>
          </div>
          <div class="info">
            <p>Email: contact@meysamderis.com</p>
            <p>Number: +971 50 239 7617</p>
          </div>
          <div class="social">
            <a href="https://www.instagram.com/meysamderis/" target="_blank" class="social-link">
              <img src="{% static 'instagram-icon-svgrepo-com.svg' %}" alt="Instagram" class="social-icon" />
            </a>
          </div>
          <p class="copyright">&copy; 2021 Meysam Deris. All rights reserved.<br> Others X Studio</p>
        </div>
        <!-- <div class="developer"><p>Design by <a target="_blank" href="https://www.t.me/targoon">YeziTechie</a></p></div> -->
      </footer>
    </div>

    <script src="https://unpkg.com/gsap@3/dist/gsap.min.js"></script>
    <script src="https://unpkg.com/gsap@3/dist/ScrollTrigger.min.js"></script>
    <script src="https://unpkg.com/gsap@3/dist/ScrollSmoother.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.14.0/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.14.0/ScrollToPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.14.0/ScrollTrigger.min.js"></script>

    <script src="{% static '/scripts/animations.js' %}"></script>
    <script src="{% static '/scripts/nav.js' %}"></script>
    <script src="{% static '/scripts/skeleton-loader.js' %}"></script>
    <script src="{% static '/scripts/ai/ai.js' %}"></script>
    <script src="{% static '/scripts/lazyload.js' %}" defer></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
