{% extends 'base.html' %}
{% load static %} 

{% block title %}Meysam Deris - Otherwordly AI Artist{% endblock %}

{% block style %}
  <link rel="stylesheet" href="{% static 'styles/photography.css' %}">
  <link rel="stylesheet" href="{% static 'styles/videography.css' %}">
{% endblock %}

{% block body %}

  <main>

    <section id="photography" class="gallery blurry">

      <div class="title gallery-title ">
        <h1>PHOTOGRAPHY</h1>
        <div class="gallery-line"></div>

          <div class="animation blur">
            <h3>Captured by Vision, Not by Chance</h3>
          </div>
        <p>Every frame is a dialogue between light and soul — timeless, intentional, and deeply human.</p>
      </div>

      <div class="contents">
      
        {% for photo in photos %}
          <div class="content">
            <div class="media">
              <div class="skeleton"></div>
              <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
            </div>
          </div>
        {% endfor %}

      </div>

    </section>
  </main>
{% endblock %}

{% block scripts %}
  <script>
    gsap.registerPlugin(ScrollTrigger);

    const svgContainer = document.querySelector(".svg-container");
    const svg = document.querySelector(".line-svg");
    const path = svg.querySelector("path");

    function resizeSVG() {
      svgContainer.style.height = `${document.documentElement.scrollHeight}px`;
    }
    resizeSVG();
    window.addEventListener("resize", resizeSVG);

    const pathLength = path.getTotalLength();
    path.style.strokeDasharray = pathLength;
    path.style.strokeDashoffset = pathLength;

    gsap.fromTo(
      path,
      { strokeDashoffset: pathLength },
      {
        strokeDashoffset: 0,
        ease: "none",
        scrollTrigger: {
          trigger: ".svg-container",
          start: "top top",
          end: "bottom bottom",
          scrub: true,
        },
      }
    );
  </script>
{% endblock %}
