
.name {
  margin-top: 200px;

}

.name-svg {
  display: block;
  width: 90%; /* or 80%, depending on your layout */
  height: auto;
  max-width: 800px; /* optional limit */
  margin: 0 auto; /* centers it */
}

.name-path {
  width: 100%;
  fill: transparent;
  stroke: var(--theme);
  stroke-width: 0.1;
  stroke-dasharray: 50;
  stroke-dashoffset: 0;
  animation: name 8s linear infinite;
}

@keyframes name {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -100; /* or +50 depending on desired direction */
  }
}
