
.our-vision h2 {
  margin-top: 60px;
  font-size: 1.5rem;
  max-width: 700px;
  margin-inline: auto;
  line-height: 1.4;
  color: #f0f0f0;
}

.blurry {
  background-color: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 
  0px 100px 200px black,
  0px-100px 200px black;
}

.btn button {
  backdrop-filter: blur(20px);
  background-color: #d0fe171a;
  border: 1px solid var(--theme);
  color: var(--text);
  border-radius: 10px;
  transition: ease 1s all;
}

.btn button:hover {
  backdrop-filter: blur(20px);
  background-color: #d0fe171a;
  border: 1px solid var(--theme);
  color: transparent;
  border-radius: 0 ;
  box-shadow: 0px 0px 50px var(--theme);
}

main {
  width: 100%;
}
