.contact .title h2{
  color: var(--text);
}

.contact {
  border: 1px solid var(--theme);
  padding: 10px;

  margin: 100px auto;
  max-width: 700px;
  
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: start;
  margin: 0 auto;
}

.field input, .field textarea {
  outline: none;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.075);
  color: var(--text);
  width: 100%;
  margin-left: 10px;
  box-shadow: 5px 5px 5px #d0fe1767;
  box-sizing: border-box;
  padding: 4px;
  border: 1px solid var(--theme);

  transition: all 0.5s ease;
}

.field input:focus .field textarea:focus {
    box-shadow: 15px 15px 20px #d0fe1759;
    transform: translate(-5px, -5px);
}

.btn {
  display: flex;
  justify-content:center;
  margin: 20px 0px;
  margin-top: 40px;
}

.message {
  height: 62px;
}

.btn button {
  background-color: #d0fe17;
  outline: none;
  padding: 5px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
}


.contact-title {
  text-align: center;
  margin-top: 100px;
  color: var(--theme);
  padding: 80px 20px;
  border: 1px solid var(--theme);
  background: linear-gradient(135deg, #0d0d0d4f, #24270b69);
}

.contact-title h1 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: 700;
}

.contact-title .animation {
  margin-bottom: 10px;
}

.fade-in {
  animation: fadeIn 2s ease-in-out;
}

.contact-title h3 {
  font-size: 1.2rem;
  color: #aaa;
  font-weight: 500;
  letter-spacing: 1px;
}

.contact-title p {
  max-width: 700px;
  margin: 0 auto;
  font-size: 1rem;
  line-height: 1.6;
  color: #ccc;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
