
.big-number {
  display: flex; flex-direction: column; justify-content: center;
  align-items: center;
  margin-top: 20rem;
}

.big-number span {
  font-size: 42px;
}

.big-number .mid-line {
  width: 15rem;
  margin-top: 20px;
  height: 2px;
  background-color: var(--theme);
}

.big-number .line {
  height: 20rem;
  width: 2px;
  background-color: var(--theme);
}
