
/* Tablets */
@media (max-width: 1500px) {
  .container {
    width: 60%;
  }
}
/* Tablets */
@media (max-width: 1024px) {
  .container {
    width: 65%;
  }
}

/* Small tablets and large phones */
@media (max-width: 768px) {
  .container {
    width: 60%;
  }
}

/* Phones */
@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}